-
	var
		htmlClass = "wide wow-animation",
		fonts = "//fonts.googleapis.com/css?family=Montserrat:400,700%7CRaleway:400,500,600,700,900",
		logo = {
			default: 'logo-default-520x84.png',
			inverse: 'logo-inverse-520x84.png',
			name: 'Steel and Fabrication Industry'
		},
		links = {
			post: 'blog-post.html',
			getTemplate:'#get-template'
		},
		colors = {
			primary: '#b6c062'
		},
		menu = [
			{
				title: 'Home',
				link: 'index.html'
			},
			{
				title: 'About Us',
				dropdown: [
					{
						title: 'What We Do',
						link: '#'
					},
					{
						title: 'What We Offer',
						link: '#'
					},
					{
						title: 'Forum',
						link: '#'
					}
				]
			},
			{
				title: 'Products & Services',
				link: 'products-and-service.html'
			},
			{
				title: 'Project Gallery',
			},
			{
				title: 'Contacts'
			}
		],

		// Predefined variables
		breadcrumbs = [],
		pageName = 'Home'
